In [1]:
import pandas as pd
import numpy as np

In [12]:
df1 = pd.read_csv("final/Tradition_stat_mrd10.csv").drop(columns=['Unnamed: 0'])
df2 = pd.read_csv("wrangled/Tradition_stat_mrd10.csv").drop(columns=['Unnamed: 0'])

In [8]:
!ls wrangled

natstat2014_flat3.csv  natstat2016_flat3.csv  natstat2018_flat3.csv
natstat2014_marg3.csv  natstat2016_marg3.csv  natstat2018_marg3.csv
natstat2015_flat3.csv  natstat2017_flat3.csv  Tradition_stat_2018_mrd10.csv
natstat2015_marg3.csv  natstat2017_marg3.csv  Tradition_stat_mrd10.csv

In [13]:
df1.equals(df2)

False

In [14]:
df1.head()

,game_id,date,home,home_goals,away,away_goals,hoa,result,result_bool,Game,...,blocks_avg,goals_avg,shots_avg,hits_avg,pim_avg,powerPlayOpportunities_avg,powerPlayGoals_avg,faceOffWinPercentage_avg,giveaways_avg,takeaways_avg
0,2014020001,2014-10-08,Maple Leafs,3,Canadiens,4,H,A_reg,0,"2014-10-08 - Canadiens 4, Maple Leafs 3",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014020002,2014-10-08,Bruins,2,Flyers,1,H,H_reg,1,"2014-10-08 - Flyers 1, Bruins 2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014020003,2014-10-08,Flames,2,Canucks,4,H,A_reg,0,"2014-10-08 - Canucks 4, Flames 2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014020004,2014-10-08,Kings,0,Sharks,4,H,A_reg,0,"2014-10-08 - Sharks 4, Kings 0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014020005,2014-10-09,Sabres,1,Blue Jackets,3,H,A_reg,0,"2014-10-09 - Blue Jackets 3, Sabres 1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df2.head()

,game_id,date,home,home_goals,away,away_goals,hoa,result,result_bool,Game,...,blocks_avg,goals_avg,shots_avg,hits_avg,pim_avg,powerPlayOpportunities_avg,powerPlayGoals_avg,faceOffWinPercentage_avg,giveaways_avg,takeaways_avg
0,2014020001,2014-10-08,Maple Leafs,3,Canadiens,4,H,A_reg,0,"2014-10-08 - Canadiens 4, Maple Leafs 3",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014020002,2014-10-08,Bruins,2,Flyers,1,H,H_reg,1,"2014-10-08 - Flyers 1, Bruins 2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014020003,2014-10-08,Flames,2,Canucks,4,H,A_reg,0,"2014-10-08 - Canucks 4, Flames 2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014020004,2014-10-08,Kings,0,Sharks,4,H,A_reg,0,"2014-10-08 - Sharks 4, Kings 0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014020005,2014-10-09,Sabres,1,Blue Jackets,3,H,A_reg,0,"2014-10-09 - Blue Jackets 3, Sabres 1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
m = df1.merge(df2, how = 'inner')
o = df1.merge(df2, how = 'outer')

In [20]:
df1.shape, df2.shape, m.shape, o.shape

((4961, 76), (4961, 76), (3970, 76), (5952, 76))

In [24]:
(df1.game_id == df2.game_id).all()

True

In [33]:
np.isclose(df1['GF_avg'],df2['GF_avg'], equal_nan = True).all()

True

In [40]:
all_passed = True
for c in df1.columns:
    try:
        using = 'test1'
        test = np.isclose(df1[c], df2[c], equal_nan = True).all()
    except:
        using = 'test2'
        test = (df1[c] == df2[c]).all()

    if not test:
        all_passed = False
        print(c, "not equal")

if all_passed:
    print("all columns are equal, hence dataframes are equal")

all columns are equal, hence dataframes are equal

In [28]:
df1[['GF_avg','goals_avg']]

        GF_avg  goals_avg
0          NaN        NaN
1          NaN        NaN
2          NaN        NaN
3          NaN        NaN
4          NaN        NaN
...        ...        ...
4956 -0.271605  -0.271605
4957 -0.716049  -0.716049
4958  0.135802   0.135802
4959  0.098765   0.098765
4960  0.000000   0.000000

[4961 rows x 2 columns]

In [29]:
df2[['GF_avg','goals_avg']]

        GF_avg  goals_avg
0          NaN        NaN
1          NaN        NaN
2          NaN        NaN
3          NaN        NaN
4          NaN        NaN
...        ...        ...
4956 -0.271605  -0.271605
4957 -0.716049  -0.716049
4958  0.135802   0.135802
4959  0.098765   0.098765
4960  0.000000   0.000000

[4961 rows x 2 columns]